html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: radial-gradient(#EEE, #DDD);

  display: flex;
  font-family: sans;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 40px;
  color: #333;
}
