<html>
<head/>
<body>
<%= form_tag do %>
	<%= text_field_tag :number, nil, {:class => "number"} %>
	<%= submit_tag "Submit", :class => "submit" %>
<% end %>
<hr/>
<div class="result"><%= @result %></div>
</body>
</html>